<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guri Bowling Bár & Pizzéria</title>
    <link rel="stylesheet" href="/static/css/main.css" id="main">
</head>
<body>

    <div id="headline" class="field">
        <div id="logo">
            <p><strong>GURI BOWLING BÁR & PIZZÉRIA</strong></p>
        </div>
        <div id="head_buttons">
            <a href="#introduction" id="main_page">Kezdőlap</a>
            <a href="#prices" id="menu_page">Áraink</a>
            <a href="#services" id="services_page">Szolgáltatások</a>
            <a href="#reservation" id="reservation_page">Foglalás</a>
            <a href="contact" id="contact_page">Kapcsolat</a>
        </div>
    </div>

    <div id="introduction" class="field">
        <p id="welcome_headline">Üdvözlünk a Guri Bowling Bár & Pizzéria honlapján!</p>
        <p id="open_headline">MEGNYITOTTUNK!</p>
        <div id="welcome_text">
            <p style="margin-left: -100px">Játékos kikapcsolódásra vágysz? Ennél egy jó pizzát?</p>
            <p style="margin-left: 100px">Vagy csak beugranál egy italra? Gurulj le a Guri-ba!</p>
        </div>
        <div id="open_text">
            <p style="margin-left: 0">Ne hagyd ki nyitási akciónkat!</p>
            <p style="margin-left: 100px">Októberben most minden pályafoglalás mellé 1 db 32cm-es pizzát adunk ajándékba!</p>
        </div>
    </div>

    <div id="prices" class="field">
        <p id="prices_title" class="title">Áraink:</p>
        <div class="description">
            <p id="shoes">Cipő bérlés: 300 Ft/Alkalom/Fő</p>
            <p id="small_title">Pályabérlés:</p>
            <div class="prices_dates">
                <p id="hcs1">Hétfő - Csütörtök 14.00 - 16.00</p>
                <p>5.500 Ft/Óra</p>
            </div>

            <div class="prices_dates">
                <p id="hcs2">Hétfő - Csütörtök 16.00 - 22.00</p>
                <p>6.000 Ft/Óra</p>
            </div>

            <div class="prices_dates">
                <p id="pv">Péntek - Vasárnap</p>
                <p>6.000 Ft/Óra</p>
            </div>
        </div>
    </div>

    <div id="services" class="field">
        <p id="services_title" class="title">Szolgáltatások:</p>
        <p id="services_text" class="description">
            Rendezvényszervezés a Guri Bowling-ban!<br>
            Guríts a családoddal, barátaiddal vagy kollegáiddal!<br><br>
            Bowling Club és Éttermünk tökéletes helyszínül szolgál szülinapok, céges rendezvények, baráti összejövetelek, iskolai programok megrendezéséhez.<br><br>
            Zártkörű rendezvény esetén, kérjük foglalási szándékotokat minimum két héttel előre jelezzétek!<br><br>
            Zártkörű rendezvény Ára: 49.990 Ft/óra. Foglaláskor 50% előleg fizetendő!<br><br>
            Zártkörű Rendezvény lemondása, maximum a megbeszélt időpont előtt egy héttel lehetséges!<br><br>
            Egy héten bellüli lemondás esetén, az 50% előleget nem áll módunkban visszafizetni!
        </p>
    </div>

    <div id="reservation" class="field"></div>

    <div id="contact" class="field"></div>

    <div id="what_is_bowling" class="field">
        <p id="question" class="title"> Mi az a bowling? </p>
        <p id="answer" class="description"> A bowling a bábusportok egyike.<br><br> A játékos célja az elgurított golyóval a 10 fabábu ledöntése.<br>
        A bowlingot csoportban és egyénileg is lehet játszani. Lényege, hogy tíz mezőt (frame) kell teljesíteni, az első kilenc mezőben két lehetőségünk van a gurításra. Ha a bábukat (pin) egy gurításból letaroljuk - ezt nevezzük strike-nak, akkor a következő két gurítás eredményét a gép automatikusan hozzáadja a tarolás eredményéhez.
        Abban az esetben, ha másodikra döntjük le a bábukat - ez a spare -, csak a következő gurítás eredménye adódik hozzá pluszban a pontszámokhoz. A game legutolsó, 10. frame-jében strike esetén azonnal legurítjuk a 2 jutalom dobást, spare esetén pedig szintén.
        A maximális 300-as eredményt 12 egymást követő strike adja.<br><br>
        Az eredmény nyilvántartása, számolása: Ha nem sikerül két dobásból sem levinni az összes (10) bábut, akkor a ledobott bábuk száma adja a mező értékét (un. "nyitott" frame). Spare-nek hívjuk (jele /), ha két dobásból visszük le a 10 bábut. E mezőhöz az ezt követő gurítás eredménye adódik hozzá.<br><br>
        Strike-nak nevezzük jele (X), ha az első gurításra ledöntjük mind a 10 bábut. Ilyenkor elmarad a második gurítás. E mezőhöz a következő két gurítás eredménye is hozzáadódik. Ha egy játékos a 10. mezőt is hibátlanul teljesíti, akkor ezt követően kap még egy ún. "bónuszdobást", mely spare esetén egy, strike esetén pedig plusz két dobást jelent.<br><br>
        Lényegében minden frame-ben 30 pontot lehet elérni, így a 10 mező adja a maximum 300 pontot, amit tehát úgy lehet elérni, hogy a lehetséges 10 kezdő + 2 bónuszdobás mindegyike strike.
        Splitről beszélünk akkor, ha az első gurítás után különlegesen nehéz vagy egyáltalán nem vehető állás marad fenn, de az 1-es fa már nem áll.
        Érvénytelennek számítanak azok a gurítások, amikor belépünk a pályára, illetve azok, amikor a golyók a pályán kívüli csatornákba (gutter) érkeznek.
        </p>
    </div>

    <div id="bottomline">
        <p id="name_tag">Guri Bowling Bár & Pizzéria</p>
        <p id="legal">Minden jog fenntartva 2021</p>
    </div>

</body>
</html>